In [1]:
import requests
import numpy as np
import pandas as pd

In [2]:
#Data Scraping 
endpoint = "https://data.cdc.gov/resource/48va-t53r.json?$limit=4000"

r = requests.get(endpoint)
df = pd.DataFrame(r.json())
df

,st,state,st_abbr,county,fips,location,area_sqmi,e_totpop,m_totpop,e_hu,...,f_noveh,f_groupq,f_theme4,f_total,e_uninsur,m_uninsur,ep_uninsur,mp_uninsur,e_daypop,shape
0,19,IOWA,IA,Hancock,19081,"Hancock County, Iowa",571.0043362,10888,0,5311,...,0,0,0,0,357,93,3.3,0.9,10986,"{'type': 'MultiPolygon', 'coordinates': [[[[-9..."
1,18,INDIANA,IN,Miami,18103,"Miami County, Indiana",373.8420835,35901,0,15433,...,0,0,0,0,3212,462,9.5,1.4,29430,"{'type': 'MultiPolygon', 'coordinates': [[[[-8..."
2,20,KANSAS,KS,Stafford,20185,"Stafford County, Kansas",792.0456876,4214,0,2339,...,0,0,0,0,380,78,9.3,1.9,3570,"{'type': 'MultiPolygon', 'coordinates': [[[[-9..."
3,18,INDIANA,IN,Montgomery,18107,"Montgomery County, Indiana",504.6469893,38276,0,16638,...,0,0,0,0,3573,456,9.5,1.2,35890,"{'type': 'MultiPolygon', 'coordinates': [[[[-8..."
4,18,INDIANA,IN,Rush,18139,"Rush County, Indiana",408.1234843,16704,0,7493,...,0,0,0,0,1994,490,12.1,3.0,12096,"{'type': 'MultiPolygon', 'coordinates': [[[[-8..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,48,TEXAS,TX,Duval,48131,"Duval County, Texas",1793.4761828,11355,0,5592,...,1,0,2,10,2656,406,24.5,3.7,9592,"{'type': 'MultiPolygon', 'coordinates': [[[[-9..."
3138,48,TEXAS,TX,Zapata,48505,"Zapata County, Texas",998.4119799,14369,0,6388,...,0,0,2,10,4206,484,29.3,3.4,10924,"{'type': 'MultiPolygon', 'coordinates': [[[[-9..."
3139,48,TEXAS,TX,Zavala,48507,"Zavala County, Texas",1297.4065351,12131,0,4344,...,1,0,2,10,2194,354,18.4,3.0,10672,"{'type': 'MultiPolygon', 'coordinates': [[[[-1..."
3140,48,TEXAS,TX,Dimmit,48127,"Dimmit County, Texas",1328.8840752,10663,0,4408,...,1,0,2,11,2345,539,22.2,5.1,8229,"{'type': 'MultiPolygon', 'coordinates': [[[[-1..."
3141,48,TEXAS,TX,Jim Hogg,48247,"Jim Hogg County, Texas",1136.1725982,5282,0,2523,...,1,0,2,11,988,262,18.8,5.0,4856,"{'type': 'MultiPolygon', 'coordinates': [[[[-9..."

In [3]:
df['rpl_themes'] = pd.to_numeric(df['rpl_themes'])

In [4]:
#Remove last column
df = df.iloc[: , :-1]

#Sorting in alphabetical order by state then by column
df= df.sort_values(["state", "county"])
df = df.reset_index(drop=True)

df = df[df.rpl_themes >= 0]

df = df.loc[:, ~df.columns.str.startswith("m_")]

df = df.drop(["st_abbr", "fips", "location", "st"], axis=1)
df

,state,county,area_sqmi,e_totpop,e_hu,e_hh,e_pov,e_unemp,e_pci,e_nohsdp,...,f_mobile,f_crowd,f_noveh,f_groupq,f_theme4,f_total,e_uninsur,ep_uninsur,mp_uninsur,e_daypop
0,ALABAMA,Autauga,594.4434589,55200,23315,21115,8422,1065,29372,4204,...,0,0,0,0,0,0,3875,7.1,0.9,37301
1,ALABAMA,Baldwin,1589.7930067,208107,111945,78622,21653,4343,31203,14310,...,0,0,0,0,1,1,20864,10.2,0.8,195677
2,ALABAMA,Barbour,885.0016356,25782,11937,9186,6597,918,18461,4901,...,1,0,0,1,2,8,2558,11.2,1.6,25052
3,ALABAMA,Bibb,622.4610887,22527,9161,6840,2863,658,20199,2650,...,1,0,0,1,2,2,1619,7.9,1.9,17696
4,ALABAMA,Blount,644.8304602,57645,24222,20600,8220,909,22656,7861,...,0,0,0,0,0,0,6303,11.0,1.3,40036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,WYOMING,Sweetwater,10426.9757251,44117,19628,15871,5237,1213,32624,2549,...,0,0,0,0,0,1,5240,12.0,1.8,45734
3138,WYOMING,Teton,3996.8446222,23059,13680,9158,1619,210,53703,958,...,0,1,0,0,1,2,2305,10.0,2.6,29426
3139,WYOMING,Uinta,2081.7198073,20609,8972,7735,2552,614,27009,934,...,0,0,0,0,0,1,2499,12.2,2.2,19734
3140,WYOMING,Washakie,2238.6729723,8129,3868,3422,984,253,27556,590,...,0,0,0,0,0,0,1223,15.4,3.1,7859
3141,WYOMING,Weston,2398.0038908,7100,3565,3062,1171,117,29152,389,...,0,0,0,0,0,0,898,13.3,3.2,5576

In [5]:
df.to_csv("Data/dataMaster.csv")

In [6]:
#df_county = pd.read_csv("Data/SVI2018_US_COUNTY.csv")
#df_census = pd.read_csv("Data/SVI2018_US.csv")

In [7]:
#df_county = pd.read_csv("Data/SVI2018_US_COUNTY.csv")
#df_census = pd.read_csv("Data/SVI2018_US.csv")

# Dropping rows with missing RPL values
#df_county = df_county.loc[df_county.RPL_THEMES >= 0]
#df_census = df_census[df_census.RPL_THEMES >= 0]

# Dropping redundant ST, location, and FIPS
#df_county = df_county.drop(["ST", "ST_ABBR", "LOCATION"], axis=1)
#df_census = df_census.drop(["ST", "ST_ABBR", "LOCATION"], axis=1)

# Removing all columns Margin of Error columns
#df_county = df_county.loc[:, ~df_county.columns.str.startswith("M_")]
#df_census = df_census.loc[:, ~df_census.columns.str.startswith("M_")]

# Saving to new .csv file
#df_county.to_csv("Data/county_clean.csv")
#df_census.to_csv("Data/census_clean.csv")