In [1]:
import requests
import numpy as np
import pandas as pd

In [2]:
#Data Scraping 
endpoint = "https://data.cdc.gov/resource/48va-t53r.json?$limit=4000"

r = requests.get(endpoint)
df = pd.DataFrame(r.json())
df.to_csv("Data/origData.csv")
df

,st,state,st_abbr,county,fips,location,area_sqmi,e_totpop,m_totpop,e_hu,...,f_noveh,f_groupq,f_theme4,f_total,e_uninsur,m_uninsur,ep_uninsur,mp_uninsur,e_daypop,shape
0,19,IOWA,IA,Hancock,19081,"Hancock County, Iowa",571.0043362,10888,0,5311,...,0,0,0,0,357,93,3.3,0.9,10986,"{'type': 'MultiPolygon', 'coordinates': [[[[-9..."
1,18,INDIANA,IN,Miami,18103,"Miami County, Indiana",373.8420835,35901,0,15433,...,0,0,0,0,3212,462,9.5,1.4,29430,"{'type': 'MultiPolygon', 'coordinates': [[[[-8..."
2,20,KANSAS,KS,Stafford,20185,"Stafford County, Kansas",792.0456876,4214,0,2339,...,0,0,0,0,380,78,9.3,1.9,3570,"{'type': 'MultiPolygon', 'coordinates': [[[[-9..."
3,18,INDIANA,IN,Montgomery,18107,"Montgomery County, Indiana",504.6469893,38276,0,16638,...,0,0,0,0,3573,456,9.5,1.2,35890,"{'type': 'MultiPolygon', 'coordinates': [[[[-8..."
4,18,INDIANA,IN,Rush,18139,"Rush County, Indiana",408.1234843,16704,0,7493,...,0,0,0,0,1994,490,12.1,3.0,12096,"{'type': 'MultiPolygon', 'coordinates': [[[[-8..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,48,TEXAS,TX,Duval,48131,"Duval County, Texas",1793.4761828,11355,0,5592,...,1,0,2,10,2656,406,24.5,3.7,9592,"{'type': 'MultiPolygon', 'coordinates': [[[[-9..."
3138,48,TEXAS,TX,Zapata,48505,"Zapata County, Texas",998.4119799,14369,0,6388,...,0,0,2,10,4206,484,29.3,3.4,10924,"{'type': 'MultiPolygon', 'coordinates': [[[[-9..."
3139,48,TEXAS,TX,Zavala,48507,"Zavala County, Texas",1297.4065351,12131,0,4344,...,1,0,2,10,2194,354,18.4,3.0,10672,"{'type': 'MultiPolygon', 'coordinates': [[[[-1..."
3140,48,TEXAS,TX,Dimmit,48127,"Dimmit County, Texas",1328.8840752,10663,0,4408,...,1,0,2,11,2345,539,22.2,5.1,8229,"{'type': 'MultiPolygon', 'coordinates': [[[[-1..."
3141,48,TEXAS,TX,Jim Hogg,48247,"Jim Hogg County, Texas",1136.1725982,5282,0,2523,...,1,0,2,11,988,262,18.8,5.0,4856,"{'type': 'MultiPolygon', 'coordinates': [[[[-9..."

In [3]:
df['rpl_themes'] = pd.to_numeric(df['rpl_themes'])

In [4]:
#Remove last column
df = df.iloc[: , :-1]

#Sorting in alphabetical order by state then by column
df= df.sort_values(["state", "county"])
df = df.reset_index(drop=True)

df = df[df.rpl_themes >= 0]

#We remove Margin Of Error Columns
df = df.loc[:, ~df.columns.str.startswith("m_")]
df = df.loc[:, ~df.columns.str.startswith("mp_")]

#We would like a dataset with only the EPL columns 
df = df.loc[:, ~df.columns.str.startswith("e_")]
df = df.loc[:, ~df.columns.str.startswith("ep_")]

df.csv()
df = df.drop(["st_abbr", "fips", "location", "st"], axis=1)
df

,state,county,area_sqmi,epl_pov,epl_unemp,epl_pci,epl_nohsdp,spl_theme1,rpl_theme1,epl_age65,...,f_minrty,f_limeng,f_theme3,f_munit,f_mobile,f_crowd,f_noveh,f_groupq,f_theme4,f_total
0,ALABAMA,Autauga,594.4434589,0.5401,0.2745,0.286,0.4397,1.5403,0.3631,0.185,...,0,0,0,0,0,0,0,0,0,0
1,ALABAMA,Baldwin,1589.7930067,0.2239,0.3121,0.2057,0.3209,1.0626,0.2232,0.6428,...,0,0,0,1,0,0,0,0,1,1
2,ALABAMA,Barbour,885.0016356,0.9631,0.9217,0.9481,0.9701,3.803,0.978,0.4893,...,0,0,0,0,1,0,0,1,2,8
3,ALABAMA,Bibb,622.4610887,0.443,0.7895,0.8987,0.7351,2.8663,0.7694,0.32,...,0,0,0,0,1,0,0,1,2,2
4,ALABAMA,Blount,644.8304602,0.4723,0.2611,0.7561,0.8405,2.33,0.6143,0.4715,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,WYOMING,Sweetwater,10426.9757251,0.3127,0.449,0.1497,0.2668,1.1782,0.2576,0.0293,...,0,0,0,0,0,0,0,0,0,1
3138,WYOMING,Teton,3996.8446222,0.0522,0.0264,0.0051,0.0548,0.1385,0.0025,0.1334,...,0,1,1,0,0,1,0,0,1,2
3139,WYOMING,Uinta,2081.7198073,0.343,0.6032,0.4443,0.1347,1.5252,0.3583,0.0675,...,0,0,0,0,0,0,0,0,0,1
3140,WYOMING,Washakie,2238.6729723,0.336,0.6207,0.4035,0.3792,1.7394,0.4293,0.738,...,0,0,0,0,0,0,0,0,0,0
3141,WYOMING,Weston,2398.0038908,0.6745,0.1822,0.2968,0.1831,1.3366,0.3022,0.5817,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.to_csv("Data/data.csv")

In [8]:
df.columns

Index(['state', 'county', 'area_sqmi', 'epl_pov', 'epl_unemp', 'epl_pci',
       'epl_nohsdp', 'spl_theme1', 'rpl_theme1', 'epl_age65', 'epl_age17',
       'epl_disabl', 'epl_sngpnt', 'spl_theme2', 'rpl_theme2', 'epl_minrty',
       'epl_limeng', 'spl_theme3', 'rpl_theme3', 'epl_munit', 'epl_mobile',
       'epl_crowd', 'epl_noveh', 'epl_groupq', 'spl_theme4', 'rpl_theme4',
       'spl_themes', 'rpl_themes', 'f_pov', 'f_unemp', 'f_pci', 'f_nohsdp',
       'f_theme1', 'f_age65', 'f_age17', 'f_disabl', 'f_sngpnt', 'f_theme2',
       'f_minrty', 'f_limeng', 'f_theme3', 'f_munit', 'f_mobile', 'f_crowd',
       'f_noveh', 'f_groupq', 'f_theme4', 'f_total'],
      dtype='object')

In [6]:
#df_county = pd.read_csv("Data/SVI2018_US_COUNTY.csv")
#df_census = pd.read_csv("Data/SVI2018_US.csv")

In [7]:
#df_county = pd.read_csv("Data/SVI2018_US_COUNTY.csv")
#df_census = pd.read_csv("Data/SVI2018_US.csv")

# Dropping rows with missing RPL values
#df_county = df_county.loc[df_county.RPL_THEMES >= 0]
#df_census = df_census[df_census.RPL_THEMES >= 0]

# Dropping redundant ST, location, and FIPS
#df_county = df_county.drop(["ST", "ST_ABBR", "LOCATION"], axis=1)
#df_census = df_census.drop(["ST", "ST_ABBR", "LOCATION"], axis=1)

# Removing all columns Margin of Error columns
#df_county = df_county.loc[:, ~df_county.columns.str.startswith("M_")]
#df_census = df_census.loc[:, ~df_census.columns.str.startswith("M_")]

# Saving to new .csv file
#df_county.to_csv("Data/county_clean.csv")
#df_census.to_csv("Data/census_clean.csv")