In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
from sklearn.decomposition import FactorAnalysis
import factor_analyzer as FA
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity

In [28]:
data = pd.read_csv("Data/data.csv", index_col = [0])
data

,state,county,area_sqmi,e_totpop,e_hu,e_hh,e_pov,e_unemp,e_pci,e_nohsdp,...,f_munit,f_mobile,f_crowd,f_noveh,f_groupq,f_theme4,f_total,e_uninsur,ep_uninsur,e_daypop
0,ALABAMA,Autauga,594.443459,55200,23315,21115,8422,1065,29372,4204,...,0,0,0,0,0,0,0,3875,7.1,37301
1,ALABAMA,Baldwin,1589.793007,208107,111945,78622,21653,4343,31203,14310,...,1,0,0,0,0,1,1,20864,10.2,195677
2,ALABAMA,Barbour,885.001636,25782,11937,9186,6597,918,18461,4901,...,0,1,0,0,1,2,8,2558,11.2,25052
3,ALABAMA,Bibb,622.461089,22527,9161,6840,2863,658,20199,2650,...,0,1,0,0,1,2,2,1619,7.9,17696
4,ALABAMA,Blount,644.830460,57645,24222,20600,8220,909,22656,7861,...,0,0,0,0,0,0,0,6303,11.0,40036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,WYOMING,Sweetwater,10426.975725,44117,19628,15871,5237,1213,32624,2549,...,0,0,0,0,0,0,1,5240,12.0,45734
3138,WYOMING,Teton,3996.844622,23059,13680,9158,1619,210,53703,958,...,0,0,1,0,0,1,2,2305,10.0,29426
3139,WYOMING,Uinta,2081.719807,20609,8972,7735,2552,614,27009,934,...,0,0,0,0,0,0,1,2499,12.2,19734
3140,WYOMING,Washakie,2238.672972,8129,3868,3422,984,253,27556,590,...,0,0,0,0,0,0,0,1223,15.4,7859
3141,WYOMING,Weston,2398.003891,7100,3565,3062,1171,117,29152,389,...,0,0,0,0,0,0,0,898,13.3,5576

In [29]:
chi2, p = calculate_bartlett_sphericity(data.iloc[:, 2:])
print(chi2)
print(p)

nan
nan

C:\Users\Gianni\anaconda3\lib\site-packages\factor_analyzer\factor_analyzer.py:111: RuntimeWarning: invalid value encountered in log
  statistic = -np.log(corr_det) * (n - 1 - (2 * p + 5) / 6)

In [22]:
data.iloc[:, 30]

0       0.1
1       0.1
2       0.1
3       0.7
4       0.2
       ...
3137    0.2
3138    0.4
3139    0.3
3140    0.6
3141    0.9
Name: mp_age65, Length: 3141, dtype: float64